

<nav class="navbar navbar-expand-md navbar-light bg-light main-menu" style="box-shadow:none">
  <div class="container">

    <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
                <i class="bx bx-menu icon-single"></i>
            </button>

    <a class="navbar-brand" href="#">
     <img src="assets/images/logo.jpg" width="100%" height="70vh">
    </a>

    <ul class="navbar-nav ml-auto d-block d-md-none">
      <li class="nav-item">
        <a class="btn btn-link" href="#"><i class="bx bxs-cart icon-single"></i> <span class="badge badge-danger"></span></a>
      </li>
    </ul>

    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <input class="form-control" type="search" name="title" [(ngModel)]="titleSearch" (ngModelChange)="Search()" placeholder="Search">
      </form>

      <ul class="navbar-nav">
       
        <li class="nav-item ml-md-3">
       
          <div class="logout" >
            <button type="button" (click)="LogoutUser()"  class="btn btn-info btn-md">Logout</button>
          
          
        
        </div>
        </li>
      </ul>
    </div>

  </div>
</nav>

<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu" >
  <div class="container" >
    <div class="collapse navbar-collapse" id="navbar" >
      <ul class="navbar-nav mx-auto" >
        
          
          <div class="dropdown">
          <select >
            <option>Categories</option>
            <option *ngFor="let categories of categories"><a href="products/category/{{categories.id}}">{{categories}}</a></option>
        </select>
    </div>
  
     
      </ul>
    </div>
  </div>
</nav>

<div class="search-bar d-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-inline mb-3 mx-auto">
          <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
          <button class="btn btn-success" type="submit"><i class="bx bx-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

 

<div class="slider">
  <figure>
    <div class="slide">
      <img src="assets/images/background.jpg" alt="">
    </div>
    <div class="slide">
      <img src="assets/images/image1.jpg" alt="">
    </div>
    <div class="slide">
      <img src="assets/images/background1.jpg" alt="">
    </div>
    <div class="slide">
      <img src="assets/images/background.jpg" alt="">
    </div>
  </figure>
</div>






<!-- Main -->

<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let prod of productData">
             
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                              <a  href="products/{{prod.id}}"> <img src="{{prod.image}}" height="100px" alt="" /></a>
                              
                            </div>
                            <div class="text-container">
                              <a  href="products/{{prod.id}}"> <h5>{{prod.title}}</h5></a><br>
                                
                                <h6 style="margin-left:-40%">price:{{prod.price}}</h6>
                              <div><img src="assets/images/star.png"  width="12%" style="margin-left: -70%;"></div><br>
                              <div><img src="assets/images/eye.png"  width="11%" style="margin-left: -70%;"> {{prod.rating.count}}</div>
                                
                                
                               
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
          
</div>

<!-- footer -->

<footer class="footer">

    <div class="inner-footer">
      <div class="social-links">
        <ul>
          <li class="social-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="social-items"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
          <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="social-items"><a href="#"><i class="fab fa-tumblr-square"></i></a></li>
        </ul>
      </div>
      <div class="quick-links">
        <ul>
          <li class="quick-items"><a href="#">Home</a></li>
          <li class="quick-items"><a href="#">Services</a></li>
          <li class="quick-items"><a href="#">Careers</a></li>
          <li class="quick-items"><a href="#">About Us</a></li>
          <li class="quick-items"><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="outer-footer">
      Copyright &copy; Shopping Cart. All Rights Reserved
    </div>
</footer>
